In [2]:
import numpy as np
import pandas as pd

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from sqlalchemy.sql import label
from sqlalchemy import MetaData

from flask import Flask, jsonify, render_template
from flask_sqlalchemy import SQLAlchemy

In [5]:
app = Flask(__name__)

In [6]:
app.config["SQLALCHEMY_DATABASE_URI"] = "sqlite:///project_2.sqlite"

In [7]:
db = SQLAlchemy(app)

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(db.engine, reflect=True)

# Save references to each table
home_price = Base.classes.home_price
mortgage_30 = Base.classes.mortgage_30
oesm = Base.classes.oesm

/Users/cchuang/anaconda3/lib/python3.6/site-packages/flask_sqlalchemy/__init__.py:794: FSADeprecationWarning: SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and will be disabled by default in the future.  Set it to True or False to suppress this warning.
  'SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and '

In [20]:
# Use Pandas to perform the sql query
stmt = db.session.query(mortgage_30).statement
df_mortgage = pd.read_sql_query(stmt, db.session.bind)
stmt = db.session.query(home_price).statement
df_homeprice = pd.read_sql_query(stmt, db.session.bind)
stmt = db.session.query(oesm).statement
df_oesm = pd.read_sql_query(stmt, db.session.bind)

In [24]:
df_homeprice.iloc(df_homeprice["RegionalName" == "California"])

,RegionName,SizeRank,2010-01,2010-02,2010-03,2010-04,2010-05,2010-06,2010-07,2010-08,...,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04,2018-05,2018-06,2018-07,2018-08
0,California,1,330000,335000,336900,339900,340900,345000,339500,339900,...,499999,499000,499000,5e+05,519950,529900,539000,544000,539500,535000
1,Texas,2,169900,169900,169900,170000,174300,174900,169999,169900,...,269500,269500,269894.5,270900,275000,279000,279990,279919,279500,275000
2,New York,3,349000,345000,344900,339000,349000,349000,347000,339900,...,348500,349000,354900,384000,389000,389000,388000,385000,375000,369000
3,Florida,4,199900,199700,199000,194900,190000,188500,184900,180000,...,285000,285605,287500,289000,289700,290000,293990,294900,290990,289900
4,Illinois,5,214900,214900,215000,214900,213900,210000,2e+05,199900,...,215000,208200,209900,219900,229000,235000,235900,237000,234900,230000
5,Pennsylvania,6,189500,189900,189900,189900,189900,189900,189900,185000,...,195000,189900,189900,195000,199900,209000,211900,215000,212000,209000
6,Ohio,7,129900,129900,129900,133900,130000,129900,129900,129900,...,150000,149900,149900,150000,159000,164900,169900,169900,169900,169900
7,Michigan,8,127900,127500,125900,127500,126500,124900,122000,119900,...,168900,164500,164900,166500,169999,180000,184900,185000,185000,184900
8,Georgia,9,179900,179900,179900,179900,179000,175000,174900,173800,...,240000,239900,241605,245200,249900,254900,258997.5,259000,254900,250000
9,North Carolina,10,199900,199900,199900,199900,199900,199000,198000,194900,...,254500,254000,255700,256175,259900,260000,260800,263500,259900,259000
10,New Jersey,11,329900,329900,339000,334900,334000,329999.5,329000,325000,...,299900,295000,289900,299900,309900,320000,329000,334900,334500,329000
11,Virginia,12,242900,240000,244500,245000,245000,244900,239900,239000,...,299000,289900,289900,295000,299990,313150,315000,315000,310000,302900
12,Washington,13,279950,279777,279900,279000,279000,279000,275000,275000,...,359000,354000,349995,362950,375000,380000,389900,395000,395000,391500
13,Massachusetts,14,334900,334900,334900,334900,334900,330000,329900,329000,...,419990,419000,419000,420000,432900,449000,449999,450000,447000,435900
14,Indiana,15,129500,129900,129900,129900,130000,131990,129900,129900,...,167475,165000,167900,169900,174900,179900,184900,185000,181070.5,179900
15,Arizona,16,181984,179900,175900,175000,171338,169000,164900,162000,...,275000,275000,275000,279000,279900,284000,285000,285000,284900,284000
16,Tennessee,17,169900,169900,169900,169900,169900,169900,169500,167500,...,229900,229000,229900,229900,234900,239900,239900,244900,242500,239900
17,Missouri,18,149900,149900,149900,149900,149900,149900,148000,146000,...,169500,167000,167000,169900,174900,179900,179900,179900,180000,179900
18,Maryland,19,259900,259900,259900,264950,262500,259900,254900,249900,...,3e+05,299900,299000,299900,309800,319900,324900,325000,325000,320000
19,Wisconsin,20,176900,178900,177000,175000,177400,175900,176800,175400,...,191000,189900,194900,199800,199900,207900,211000,214900,209900,205000
20,Minnesota,21,189900,189900,189900,189000,189000,189000,183700,179900,...,249900,249900,255000,269000,269900,269900,269900,269900,266000,265000
21,Colorado,22,260000,259000,255500,255000,259000,259900,259900,260000,...,401750,409000,409900,419000,419000,419900,420000,419000,419000,415000
22,Alabama,23,173900,173900,170000,169900,169900,169900,169000,164900,...,191900,189900,190000,196000,199000,201900,204852,205000,203130.5,203900
23,South Carolina,24,195000,189900,189685,187500,184900,183500,180000,179900,...,240000,239900,239900,239900,245000,249000,249900,249900,246900,244990
24,Louisiana,25,176900,175500,177000,178500,176900,177500,175900,175500,...,207000,205000,204500,205000,209000,210000,214000,213000,214900,212500
25,Kentucky,26,149900,149900,149900,149900,149900,149900,149900,149000,...,170166,169900,173950,175000,178000,179900,184900,184900,184900,182994.5
26,Oregon,27,252900,249900,249900,249000,249500,249900,249000,249000,...,354950,354900,350000,359900,367500,375000,378528,379900,375250,375000
27,Oklahoma,28,146000,145900,147000,147400,149041.5,149000,146975,145000,...,179900,177000,177900,179900,179900,182900,183000,183000,182900,183500
28,Connecticut,29,299000,299000,299000,299000,299500,299500,295000,295000,...,3e+05,299900,299900,309900,316900,325000,329000,327500,324900,315000
29,Iowa,30,139950,139990,142900,144900,144900,144825,144900,142500,...,169000,169000,169900,174900,179900,180000,182900,180000,179000,175000
30,Mississippi,31,157800,158500,155000,155000,156000,155000,154900,154500,...,175900,178000,179000,179000,179900,183810,185000,182000,183900,182875
31,Arkansas,32,149900,149900,149900,149900,149900,150000,149900,149900,...,165000,164000,164900,165000,169000,173950,174530,174900,175000,172500
32,Kansas,33,149950,149999,152000,152000,149900,149900,149000,147000,...,172500,169000,169900,174500,179500,187900,194000,194900,189000,182000
33,Utah,34,230000,228500,224900,224540,220000,219900,217900,215000,...,335000,339000,339980,345900,349900,350000,349900,350000,354000,350000
34,Nevada,35,168900,169000,168000,165000,161900,159900,155000,150000,...,299000,299900,299950,299999,299999,305000,309900,310000,314999,320000
35,New Mexico,36,231350,229998,227500,225000,227711,225000,225000,223000,...,219000,218900,218900,219900,219575,224632.5,225000,227500,227500,225000
36,West Virginia,37,150000,153500,154850,150000,150000,150000,150000,150000,...,150000,149900,149900,149900,150000,156900,159000,159000,159000,158000
37,Nebraska,38,138000,139250,138000,135000,138000,138000,139500,138500,...,195000,195000,198500,205000,207900,210000,210000,209000,208000,205000
38,Idaho,39,175000,174900,171000,171839,174900,172990,173925,172000,...,274900,279822,285000,289500,292190,299000,299900,3e+05,299900,299900
39,Hawaii,40,509000,499999.5,498500,498500,499000,499000,499000,525000,...,599000,610000,616000,610000,599000,6e+05,615000,619000,615000,625000
40,Maine,41,209900,208387.5,2e+05,2e+05,209900,209900,209000,209500,...,229000,225000,224900,224900,229900,239000,247700,244900,239900,239900
41,New Hampshire,42,249900,249000,249000,249000,249900,249000,246900,244900,...,279900,279900,279900,279900,289900,295000,299000,299000,297600,294500
42,Rhode Island,43,279000,269900,269900,269900,269900,269000,269000,269000,...,289900,285900,284900,289900,299000,3e+05,3e+05,309900,309900,309000
43,Montana,44,269900,264900,259900,258000,259000,259500,259000,259900,...,299995,3e+05,299950,310000,314900,319000,319500,324900,320000,319900
44,Delaware,45,239900,239900,239900,239900,241700,239900,239900,239900,...,276055,275000,275000,278900,280000,284390,285900,286000,286945,285000
45,South Dakota,46,175000,172900,169900,167900,169900,169900,172500,170000,...,217000,217900,219000,224900,229000,229900,229900,229900,226400,224900
46,Alaska,47,250000,250000,255000,256450,264900,265000,259900,259900,...,273700,269900,269900,274900,275500,285000,288600,287000,289000,284900
47,North Dakota,48,,,,,,,,,...,225000,224900,225000,225000,228500,234900,232500,232332.5,229999,228000
48,Vermont,49,249900,249900,249625,249000,249900,249900,249900,249000,...,249900,249900,249900,255000,250000,254800,255000,259500,269000,269000
49,District of Columbia,50,329500,339000,349500,360000,360000,359000,350000,349955,...,558000,542313,530000,549900,565000,580000,594900,599000,585000,575500
50,Wyoming,51,225000,217500,217000,214000,214900,210000,213950,212000,...,239000,239000,238000,238950,240000,249000,249900,250000,250000,250000

In [29]:
# for index in range(0, len(df_homeprice)):
#     stateKey = df_homeprice.iloc[index, 0]
#     print (stateKey)    
# list(df_homeprice.iloc[index,2:].keys())
list(df_homeprice.iloc[index,2:].get_values())

['225000',
 '217500',
 '217000',
 '214000',
 '214900',
 '210000',
 '213950',
 '212000',
 '213450',
 '209000',
 '209900',
 '202500',
 '204900',
 '199900',
 '205000',
 '207000',
 '214900',
 '214900',
 '221900',
 '224900',
 '222000',
 '219500',
 '221200',
 '219900',
 '225000',
 '215000',
 '214900',
 '219000',
 '219500',
 '219500',
 '220000',
 '224850',
 '219500',
 '215000',
 '214900',
 '215000',
 '215000',
 '218000',
 '216200',
 '219000',
 '219900',
 '220000',
 '222000',
 '220000',
 '225000',
 '220000',
 '219000',
 '219000',
 '219000',
 '224900',
 '225000',
 '228000',
 '229900',
 '235000',
 '235000',
 '238000',
 '243500',
 '239000',
 '239000',
 '239500',
 '238750',
 '233900',
 '234500',
 '230000',
 '235000',
 '236950',
 '240000',
 '240000',
 '242950',
 '243000',
 '244000',
 '239900',
 '235000',
 '235000',
 '237000',
 '239000',
 '240000',
 '244900',
 '245000',
 '242000',
 '244900',
 '239900',
 '239000',
 '238000',
 '235000',
 '234500',
 '239000',
 '239000',
 '239900',
 '240000',
 '244900',
 '240000',
 '239900',
 '239000',
 '239000',
 '239000',
 '238000',
 '238950',
 '240000',
 '249000',
 '249900',
 '250000',
 '250000',
 '250000']

In [30]:
engine = create_engine("sqlite:///project_2.sqlite")


# reflect an existing database into a new model
Base = automap_base()

# reflect the tables
Base.prepare(engine, reflect=True)

# show classes
# Base.classes.keys()  

# save reference to the table
home_price = Base.classes.home_price
mortgage_30 = Base.classes.mortgage_30
oesm = Base.classes.oesm

# create our session (link) from Python to the DB
session = Session(engine)
# session.query(Base.classes.home_price).all()

In [42]:
# show table/class columns
# print (mortgage_30.__table__.columns)

['mortgage_30.state', 'mortgage_30.average_rate', 'mortgage_30.range_min', 'mortgage_30.range_max']

In [47]:
print (session.query(mortgage_30.state).all())

[('Alabama',), ('Alaska',), ('Arizona',), ('Arkansas',), ('California',), ('Colorado',), ('Connecticut',), ('Delaware',), ('District of Columbia',), ('Florida',), ('Georgia',), ('Hawaii',), ('Idaho',), ('Illinois',), ('Indiana',), ('Iowa',), ('Kansas',), ('Kentucky',), ('Louisiana',), ('Maine',), ('Maryland',), ('Massachusetts',), ('Michigan',), ('Minnesota',), ('Mississippi',), ('Missouri',), ('Montana',), ('Nebraska',), ('Nevada',), ('New Hampshire',), ('New Jersey',), ('New Mexico',), ('New York',), ('North Carolina',), ('North Dakota',), ('Ohio',), ('Oklahoma',), ('Oregon',), ('Pennsylvania',), ('Rhode Island',), ('South Carolina',), ('South Dakota',), ('Tennessee',), ('Texas',), ('Utah',), ('Vermont',), ('Virginia',), ('Washington',), ('West Virginia',), ('Wisconsin',), ('Wyoming',), ('state',)]